# Configurações de credenciais e conexões sensíveis
# NUNCA versione o arquivo secrets.toml real no Git!

[passwords]
# Senhas armazenadas com Hashing Argon2id (geradas via utils.auth.hash_password)
admin = "$argon2id$v=19$m=65536,t=3,p=4$613rfQ+B8B4jJOR87x0jhA$BW0HVQHHeSoZ0kYxBXkdikn0p493A+QLVNRuow+bk+o"
user = "$argon2id$v=19$m=65536,t=3,p=4$CwGAMIYQQgghJOS8FyLEmA$+88hhzh56M/y1ZUll4vyevtRRFFhzaTinzTpM4yIbpM"

[roles]
admin = "admin"
user = "user"

[mongo]
# URI do MongoDB Atlas para ambiente de produção em nuvem (opcional - caso ausente, o sistema utiliza banco de dados SQLite local)
# uri = "mongodb+srv://usuario:senha@cluster0.mongodb.net/?retryWrites=true&w=majority"
